.reg-type {
    margin-left: 5px;
}

.main-page-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.main-page-link:hover {
    color: rgba(189, 247, 208, 0.7);
}

.mapdisplay {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.mapimg {
    width:160px;
}

.mapdetail {
    margin-left: 40px;
}

.mapinfo {
    margin-left: 18px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

}

.avatars {
    max-width: 32px;
    max-height: 32px;
}

.avatar64 {
    max-width: 64px;
    max-height: 64px;
}

.width32 {
    width: 32px;
}

.width64 {
    width: 64px;
}
