.reg-type {
    margin-left: 5px;
}

.main-page-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.main-page-link:hover {
    color: rgba(189, 247, 208, 0.7);
}

.mapdisplay {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.mapimg {
    -moz-box-flex: 1;
    box-flex: 1;
}

.mapdetail {
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

.mapinfo {
    margin-left: 18px;
}

.mapname {
    margin-left: 20px;
}

.mapdif {
    margin-left: 40px;
}

.mapscore {
    margin-left: 26px;
}

.avatars {
    max-width: 32px;
    max-height: 32px;
}