<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蓝翔杯</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href="/static/css/docs.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand">蓝翔杯接水果大赛</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% ifequal option 0 %} class="active"{% endifequal %}>
                    <a href="{% url 'rules' %}">规则</a>
                </li>
                <li{% ifequal option 1 %} class="active"{% endifequal %}>
                    <a href="{% url 'pool' %}">图池</a>
                </li>
                <li{% ifequal option 2 %} class="active"{% endifequal %}>
                    <a href="{% url 'statistics' %}">比赛现状</a>
                </li>
                <li{% ifequal option 3 %} class="active"{% endifequal %}>
                    <a href="{% url 'staffs' %}">STAFF</a>
                </li>
                <li{% ifequal option 4 %} class="active"{% endifequal %}>
                    <!-- <a href="{% url 'reward' %}" disabled=>获奖名单</a> -->
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-default navbar-btn">报名截止
                </button>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
    <div class="container theme-showcase" role="main">
    </div>
{% endblock %}
{% include login.html %}
</body>
</html>