<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蓝翔杯</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/docs.min.css" rel="stylesheet">
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">蓝翔杯接水果大赛</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/rules.html">规则</a>
            </li>
            <li>
              <a href="/pool.html">图池</a>
            </li>
            <li>
              <a href="/statistics.html">比赛现状</a>
            </li>
            <li>
              <a href="/staffs.html">STAFF</a>
            </li>
            <li>
              <a href="/support.html">赞助</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign-up.html">我要报名</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="bs-docs-masthead" id="content" role="main">
    <div class="container">
      <img src="/static/img/logo.png"/>
      <h1>蓝翔杯</h1>
      <p class="lead">面向全体华人的一次Catch the Beat模式比赛
</p>
      <p class="lead">
      <a href="/sign-up.html" class="btn btn-outline-inverse btn-lg">我要报名</a>
      </p>
    </div>
    </main>
  </body>
</html>