<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JI课程信息平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/docs.min.css" rel="stylesheet">
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">JI课程信息平台</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/grade1.html">大一</a>
            </li>
            <li>
              <a href="/grade2.html">大二</a>
            </li>
            <li>
              <a href="/grade3.html">大三</a>
            </li>
            <li>
              <a href="/grade4.html">大四</a>
            </li>
            <li>
              <a href="/general.html">通识</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about.html">关于技术部</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="bs-docs-masthead" id="content" role="main">
    <div class="container">
      <img src="/img/logo.png"/>
      <h1>JI课程信息平台</h1>
      <p class="lead">JI课程信息平台是由学生会技术部为您提供的一站式课程信息查询平台，在这里你可以查询不同学科的课表，不同课程的TA联系信息以及各个学科所需要的参考书电子版下载</p>
      <p class="lead">
      <a href="/grade1.html" class="btn btn-outline-inverse btn-lg">大一戳这里</a>
      <a href="/grade2.html" class="btn btn-outline-inverse btn-lg">大二戳这里</a>
      <a href="/grade3.html" class="btn btn-outline-inverse btn-lg">大三戳这里</a>
      <a href="/grade4.html" class="btn btn-outline-inverse btn-lg">大四戳这里</a><br /><br />
      <a href="http://pan.baidu.com/s/1i3EAt3f" class="btn btn-outline-inverse btn-lg">电子书单独下载</a><br />      
      </p>
      <p class="version">Powered by JI-Technology <a href="mailto:troogle@sjtu.edu.cn">E-mail</a></p>
    </div>
    </main>
  </body>
</html>