{% extends "base.html" %}
{% block content %}
    <div class="container theme-showcase" role="main">
        {% for match in list %}
            <h4>Day #{{ match.date }},Match #{{ match.time }}</h4>
            <a href="https://osu.ppy.sh/mp/{{ match.mpid }}">mplink</a>
            {% for round in match.round_set.all %}
                {% cycle '<div class="row">' '' %}
                <div class="col-md-6">
                    <table id="roundTable" class="table table-striped table-hover table-bordered">
                        <caption>Round #{{ round.order|add:'1' }}</caption>
                        <tr>
                            <td colspan="5">
                                <div class="mapdisplay">
                                    <div class="mapimg">
                                        <a href="http://osu.ppy.sh/b/{{ round.map.diffid }}" target="_blank">
                                            <img src="http://b.ppy.sh/thumb/{{ round.map.setid }}l.jpg"
                                                 alt="{{ round.map.mapname }}">
                                        </a>
                                    </div>
                                    <div class="mapinfo">
                                        <div>
                                            Map Name:
                                            <div class="mapdetail">{{ round.map.mapname }}</div>
                                        </div>
                                        <div>
                                            Difficulty:
                                            <div class="mapdetail">{{ round.map.diffname }} </div>
                                        </div>
                                        <div>
                                            MaxScore:
                                            <div class="mapdetail">{{ round.map.maxscore }} </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% for play in round.play_set.all %}
                            <tr>
                                <td><img class="avatars" src="http://a.ppy.sh/{{ play.player.osuid }}">
                                <td>{{ play.player.username }}</td>
                                <td>{{ play.score }}</td>
                                <td class="{% if play.failed %}danger">Failed{% else %}success">Passed{% endif %}</td>
                                <td class="{% if play.useful %}success{% else %}danger{% endif %}">
                                    {{ play.point|floatformat:3 }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% cycle '' '</div>' %}
            {% endfor %}
        {% empty %}
            <p>还木有比赛呢(⊙o⊙)</p>
        {% endfor %}
    </div>
{% endblock %}