{% extends "base.html" %}
{% block content %}
    <div class="container theme-showcase" role="main">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="player">Player</label>
                <select name="player" class="form-control">
                    {% for player in players %}
                        <option {% ifequal player play.player %} checked {% endifequal %}>
                            {{ player }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="score">Score</label>
                <input type="text" class="form-control" name="score" value="{{ play.score }}">
            </div>
            <div class="form-group">
                <label for="failed">Failed</label>
                <input type="checkbox" class="form-control" name="failed"
                       {% if play.failed %}checked{% endif %}>
            </div>
            <button type="submit" class="btn btn-default">Edit Play</button>
        </form>
    </div>
{% endblock %}