{% extends "base.html" %}
{% block content %}
	<div id="blueimp-gallery" class="blueimp-gallery">
		<!-- The container for the modal slides -->
		<div class="slides"></div>
		<!-- Controls for the borderless lightbox -->
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
	<ol class="indicator"></ol>
	<!-- The modal dialog, which will be used to wrap the lightbox content -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left prev">
					Previous
					</button>
					<button type="button" class="btn btn-primary next">
					Next
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-top: 60px">
	<form class="form-inline center-block">
		<div class="form-group">
			<button id="video-gallery-button" type="button" class="btn btn-success btn-lg">
			<a href="/static/img/1.jpg" class="main-page-link" title="Gold Sakurano Kurimu" data-gallery >胜者图册</a>
			</button>
		</div>
	</form>
</div>
<div class="row">
	{% for matchuser in list %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img style="max-width:64px;max-height:64px" src="http://a.ppy.sh/{{ matchuser.osuid }}" class="img-responsive">
			<div class="caption">
				<p>{{ matchuser.username}}</p>
				<p>{{ matchuser.pointFinal}}</p>
				<p><a href="https://osu.ppy.sh/u/{{matchuser.osuid}}" class="btn btn-primary" role="button">访问osu主页</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div id="links">
	<a href="/static/img/2.jpg" title="Silver Xenophobia" data-gallery></a>
	<a href="/static/img/3.jpg" title="Bronze Yes Sir Popesama" data-gallery></a>
</div>
{% endblock %}