{% extends "base.html" %}
{% block content %}
    <div class="container theme-showcase" role="main">
            <article class="markdown-body">
                <h2>比赛概要：</h2>
                <ol>
                    <li>
                        <p>本次比赛是面向全体华人的一次OSU Catch the Beat 模式比赛</p>
                    </li>
                    <li>
                        <p>比赛主体采用积分淘汰混合制度。在举办方指定的12段时间内参加比赛获取积分，时间截止后选取8位分数最多的选手进入淘汰赛。</p>
                    </li>
                    <li>
                        <p>报名方式：<strong>4选1</strong></p>
                        <ul>
                            <li>在官网自助报名 <code>推荐</code></li>
                            <li>在本帖中留下OSU ID</li>
                            <li>PM举办方裁判或者举办者</li>
                            <li>入群： 129614174 进行报名，报上OSU ID并@群主</li>
                        </ul>
                    </li>
                    <li>
                        <p>报名时间：即日起到<strong>2月16日24:00</strong></p>
                    </li>
                    <li>
                        <p>报名结束后将由裁判团进行审核登记并在OSU论坛帖和官网更新。如果比赛中出现与报名名单中不相符的id，一律不做分数登记，视为无效。</p>
                    </li>
                    <li>
                        <p>比赛奖品：</p>
                        <ul>
                            <li>第一名： 150元或等值撒泼特(一年)</li>
                            <li>第二名： 100元或等值撒泼特(6个月)</li>
                            <li>第三名： 50元或等值撒泼特(2个月)</li>
                            <li>第四名： 20元或等值撒泼特(1个月)</li>
                        </ul>
                    </li>
                </ol>
                <h2>赛制流程：</h2>

                <h3>赛季阶段：</h3>
                <ol>
                    <li>
                        <p>比赛模式：积分制，每天比赛按照前6场的积分计入总分，相同地图按照第一次遇到此图时的积分计入总分，一共有三轮积分赛，<strong>每人在赛季阶段最多能获得6*3=18张图的积分</strong></p>
                        <blockquote>
                            <p>每天有上午(10:00)，下午(3:00)，晚上(8:00)，午夜(0:00)四场场次<br/>
                                每天的图池不同，当天的图池内有none*4,hd*3,dt*3,hr*3,free mod*3共16张图<br/>
                                图池将在报名结束后发布</p>
                        </blockquote>
                    </li>
                    <li>
                        <p>积分计算：</p>

                        <p><code>Point = 选手分数÷Auto在none模式下可以获得的分数</code></p>
                        <blockquote>
                            <p>如果中途或结束有fail的情况，选手分数做折半处理</p>

                            <p>如果选手出现掉线的情况，分数按照结束时ranking界面显示的分数为准，不接受任何重赛请求<br/>
                                若担心有突发情况，请在ready前离场，每局一旦开始即视为你可以无干扰完成此图</p>

                            <p class="text-danger">上午打满6场的人，下午再打是<strong>不会</strong>获得积分的，请大家对照自己的网络状况选择对自己有利的场次</p>
                        </blockquote>
                    </li>
                    <li>
                        <p>比赛房间：裁判将提前15分钟建立16人Head to Head模式的房间（胜利条件为Score），请PM当场裁判获得房间邀请链接，先到先得，准时开赛，可中途加入比赛</p>
                        <blockquote>
                            <p>每场6局，none*2，hd*1，dt*1，hr*1，free mod*1，裁判将依照此模式顺序roll点随机选图</p>
                        </blockquote>
                    </li>
                    <li>
                        <p>赛季结束后将选取前8名进入淘汰赛</p>
                    </li>
                    <li>
                        <p>选手不一定需要截图，但是可以自行截图作为证据避免裁判团统计失误的情况</p>
                    </li>
                </ol>
                <h3>淘汰赛阶段：</h3>
                <ol>
                    <li>
                        <p>分组：原则上按照赛季中积分排名第1,4,5,8和积分排名第2,3,6,7分为两组</p>
                    </li>
                    <li>
                        <p>比赛模式：BO9，9局5胜，在队长之间轮流选图，淘汰一组，取胜者组四人进入决赛</p>
                    </li>
                    <li>
                        <p>时间：将在积分赛结束后公布</p>
                    </li>
                    <li>
                        <p>比赛房间：裁判将提前15分钟建立Team VS模式的房间（胜利条件为Score）并邀请选手进入参赛，请至少提前5分钟进房，准时开赛</p>
                    </li>
                    <li>
                        <p>未能及时到场的选手将全部做弃权处理，若剩余人数少于4人，则跳过淘汰赛阶段全部晋级</p>
                    </li>
                    <li>
                        <p>淘汰赛图池将在积分赛结束之后放出</p>
                    </li>
                </ol>
                <h3>决赛阶段：</h3>
                <ol>
                    <li>
                        <p>比赛模式： BO9，9局5胜，由选手1V1对决，交叉选图</p>
                    </li>
                    <li>
                        <p>时间：将在淘汰赛结束后公布</p>
                    </li>
                    <li>
                        <p>比赛房间：裁判将提前15分钟建立Team VS模式的房间（胜利条件为Score）并邀请选手进入参赛，请至少提前5分钟进房，准时开赛</p>
                    </li>
                    <li>
                        <p>未能及时到场的选手将做弃权处理</p>
                    </li>
                    <li>
                        <p>决赛人数不足4人时，自动空出名次</p>
                    </li>
                    <li>
                        <p>决赛图池将在淘汰赛结束之后放出</p>
                    </li>
                </ol>
                <p><strong>淘汰赛和决赛的具体细则会根据情况作出适当的更改，请选手们密切留意</strong></p>

                <p>特别感谢诺德，教主在比赛规则制定上的帮助！</p>
                </article>
        </div>
{% endblock %}