{% extends "base.html" %}
{% block content %}
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <div class="container theme-showcase" role="main">
        <table class="table table-striped table-hover table-bordered tablesorter">
            <caption>玩家列表</caption>
            <thead>
            <tr>
                <th>#</th>
                <th class="sorter-false">Avatar</th>
                <th>Username</th>
                <th>Day 1</th>
                <th>Day 2</th>
                <th>Day 3</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody>
            {% for matchuser in list %}
                {% ifequal matchuser.userType 0 %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td style="width:128px"><img src="http://a.ppy.sh/{{ matchuser.osuid }}" class="img-responsive">
                    </td>
                    <td style="color:
                            {% if matchuser.checked %}
                                #333333{% else %}#dddddd
                            {% endif %}">{{ matchuser.username }}</td>
{#                    <td>{{ matchuser.point }}</td>#}
                <td>0</td><td>0</td><td>0</td><td>0</td>
                </tr>
            {% endifequal %}
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}