{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/statistics.js"></script>
    <div class="container theme-showcase" role="main">
        <a href="{% url 'statisticsfull' %}">完整积分</a>
        <table id="playerTable" class="table table-striped table-hover table-bordered">
            <caption>玩家列表</caption>
            <thead>
            <tr>
                <th class="width32">#</th>
                <th class="width64">Avatar</th>
                <th>Username</th>
                {% if full %}
                    <th>Day 1</th>
                    <th>Day 2</th>
                    <th>Day 3</th>
                {% endif %}
                <th>积分赛</th>
                <th>淘汰赛</th>
                <th>决赛</th>
                <th>最终分</th>
            </tr>
            </thead>
            <tbody>
            {% for matchuser in list|dictsortreversed:"pointFinal" %}
                <tr>
                    <th class="width32">{{ forloop.counter }}</th>
                    <td class="width64">
                        <img class="avatar64 img-responsive" src="http://a.ppy.sh/{{ matchuser.osuid }}">
                    </td>
                    <td color="{% if matchuser.checked %}#333333{% else %}#dddddd{% endif %}">
                        {{ matchuser.username }}
                    </td>
                {% if full %}
                    <td>{{ matchuser.point1|floatformat:3 }}</td>
                    <td>{{ matchuser.point2|floatformat:3 }}</td>
                    <td>{{ matchuser.point3|floatformat:3 }}</td>
                {% endif %}
                    <td>{{ matchuser.point|floatformat:3 }}</td>
                    <td class="{% ifequal matchuser.team 1 %}info{% endifequal %}
                    {% ifequal matchuser.team 2 %}success{% endifequal %}">
                        {{ matchuser.pointT|floatformat:0 }}
                    </td>
                    <td>{{ matchuser.pointF|floatformat:0 }}</td>
                    <td>{{ matchuser.pointFinal|floatformat:3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}